.fil {
    border: 15px solid rgb(200, 200, 200); /* width, style, colour */
    width: auto;
    margin-top: 15px;
}
.daph {
    border: 15px solid rgb(200, 200, 200); /* width, style, colour */
    width: auto;
    margin-top: 15px;
}

body 
    {
        background-color: #FFFFFF;
        width: 500px;
        margin: 50px auto;     
    } 
p {
    font-size: 20px;
   text-align: center;
}

h1 {
    text-align: center;  
} 
h3 {
    text-align: center;  
} 




