body {
    background-color: aqua;
}

    ul {
        list-style-type: none;
        /*enleve les picos*/
        margin: 0;
        padding: 0;
        position: fixed;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
        /* ou left*/
        /* mets les liens tous un à côté de l'autre*/
    }

    li a {
        display: block;
        /*pour être cliquable*/
        padding: 8px;
        /* espace entre liens et bordures*/
        color: white;
        text-decoration: none;
        /*enleve le soulignement*/
        padding: 14px 16px;
        /*espace haut/bas 14px et droite/gauche 16px*/
    }

    li a:hover {
        background-color: blue;
    }