




.fil {
    border: 15px solid rgb(200, 200, 200); /* width, style, colour */
    width: auto;
    margin-top: 15px;
}
.daph {
    border: 15px solid rgb(200, 200, 200); /* width, style, colour */
    width: auto;
    margin-top: 15px;
}

body 
    {
        background-color:rgb(99, 99, 99);
    
        width: 500px;
        margin: 50px auto;     
    } 
p {
    font-size: 20px;
   text-align: center;
}

h1 {
    text-align: center;  
} 
h3 {
    text-align: center;  
} 


ul {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    background-color:rgb(67, 243, 214);
  
}

li a {
    display: block;
    color:black;
    padding: 8px;
    /* espace entre liens et bordures/
    color: white;
    text-decoration: none;
    /enleve le soulignement/
    padding: 14px 16px;
    /espace haut/bas 14px et droite/gauche 16px*/
}

li a:hover {
  color: white;
}

.active {
    background-color: #4CAF50;
}

#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em; 
     opacity: initial;
  }


